# IMU手势可视化/sdkconfig.defaults
# 串口波特率
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200

# I2C 配置
CONFIG_I2C_ENABLE_DEBUG_LOG=n

# WiFi 配置
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=y
CONFIG_ESP_WIFI_ENABLE_WIFI_RX_STATS=y
CONFIG_ESP_WIFI_ENABLE_WIFI_RX_MU_STATS=y